body {
	margin: 0;
	padding: 0;
}

#bg-container, #trans-container {
	position: absolute;
	top: 0;
	left: 0;
}
/* This is where the trans animation will go! */
#transition {
	position: absolute;
	top: 0;
	left: 0;
/*	width: 1000px;
	height: 1000px;*/
	/*background: url('http://th09.deviantart.net/images3/PRE/i/2004/150/e/d/WallNotebookPaper.jpg');*/
	/*background-color: #222;*/
	z-index: 10000;
}

#trans-image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}

img {
  display: block;
  width: 100%;
}

.scene {
  /*max-width: 500px;*/
  margin: 0;
  padding: 0;
}

.layer:nth-child(1) {
  opacity: 0.15;
}
.layer:nth-child(2) {
  opacity: 0.30;
}
.layer:nth-child(3) {
  opacity: 0.45;
}
.layer:nth-child(4) {
  opacity: 0.60;
}
.layer:nth-child(5) {
  opacity: 0.75;
}
.layer:nth-child(6) {
  opacity: 0.90;
}