body {
	margin: 0;
	padding: 0;
	font-family: helvetica;
	color: #414A4C;
}

nav {
	position: relative;
	width: 100%;
	margin-left: 0px;
	z-index: 100;

}

nav ul {
	list-style: none;
	padding-left: 0px;
	float: right;
	margin: 0px;
	background-color: rgba(248,248,255,.95);
	border-radius: 10px;
	padding: 2px;
}

nav ul li {
	display: inline;
	padding-right: 20px;
	letter-spacing: 1px;
}

nav ul li:last-child {
	padding-right: 0px;
}



#bg-container, #trans-container {
	position: absolute;
	top: 0;
	left: 0;
}
/* This is where the trans animation will go! */
#transition {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
}

#trans-image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}


/*===========================================================
******** PARALLAX STYLING
=============================================================*/
.scene {
  /*max-width: 500px;*/
  margin: 0;
  padding: 0;
}

.layer:nth-child(1) {
  opacity: 0.15;
}
.layer:nth-child(2) {
  opacity: 0.30;
}
.layer:nth-child(3) {
  opacity: 0.45;
}
.layer:nth-child(4) {
  opacity: 0.60;
}
.layer:nth-child(5) {
  opacity: 0.75;
}
.layer:nth-child(6) {
  opacity: 0.90;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.box {
	position: relative;
	margin: 0 auto;
	width: 50%;
	height: 100%;
	border: 10px dashed #414A4C;
	background-color: rgba(248,248,255,.8);
	padding: 20px;
	overflow: scroll;


}

.box h1, .box p {
	display: inline-block;
	background-color: rgba(248,248,255,.95);
	border-radius: 10px;
	padding: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*.box p {
	display: inline-block;
	background-color: rgba(248,248,255,.95);
	border-radius: 10px;
	padding: 2px;
}*/

a {
	color: #414A4C;
	text-decoration: underline;
}

a:hover {
	color: #1B1B1B;
	text-decoration: underline;
}

.contact-link, .nav-link {
	color: #414A4C;
	text-decoration: none;
}

.contact-link:hover, .nav-link:hover {
	color: #1B1B1B;
	text-decoration: underline;
}

.project-heading {
	margin-top: 0px;
	margin-bottom: 0px;
}

.project-techs {
	margin-top: 0px;
	margin-bottom: 0px;
}