

<div class="page">
	<div class="box">
		<nav>
			<ul>
				<li>[<a class="nav-link" href="">Home</a>]</li>
				<li>[<a class="nav-link" href="#about">About</a>]</li>
				<li>[<a class="nav-link" href="#projects">Projects</a>]</li>
				<li>[<a class="nav-link" href="#blog">Blog</a>]</li>
				<li>[<a class="nav-link" href="#experimental">Experimental</a>]</li>
			</ul>
		</nav>

		<h1>About Me</h1>
		<p>Hello! I am a full-stack web developer specializing in Ruby on Rails, Javascript, and Python. I love to compose and play music and cook almost as much as I love to code!</p>
		<div>
			<p>Here is my email address: <a class="contact-link" href="mailto:scottlnorvell@gmail.com">scottlnorvell@gmail.com</a></p>
		</div>
		<div>
			<p>My Linkedin: <a class="contact-link" href="http://www.linkedin.com/in/scottlnorvell" target="_blank">www.linkedin.com/in/scottlnorvell/</a></p>
		</div>
		<div>
			<p>My GitHub: <a class="contact-link" href="https://github.com/ScottLNorvell" target="_blank">github.com/ScottLNorvell</a></p>
		</div>
		<div>
			<p>My Twitter: <a class="contact-link" href="https://twitter.com/scottlnorvell" target="_blank">@scottlnorvell</a></p>
		</div>
		
	</div>
</div>