
<div class="page">
	<div class="box">
		<nav>
			<ul>
				<li>[<a class="nav-link" href="">Home</a>]</li>
				<li>[<a class="nav-link" href="#about">About</a>]</li>
				<li>[<a class="nav-link" href="#projects">Projects</a>]</li>
				<li>[<a class="nav-link" href="#blog">Blog</a>]</li>
				<li>[<a class="nav-link" href="#experimental">Experimental</a>]</li>
			</ul>
		</nav>

		<h1>Apps</h1>
		<h4>Take a look at some of my recent projects:</h4>
		<div>
			<h3 class="project-heading"><a class="contact-link" href="http://sound-ocean.com" target="_blank">Sound Ocean</a>:</h3>
			<h5 class="project-techs">Technologies: KineticJS, KeyboardJS, HTML5 Audio, SoundCloud API, Ruby on Rails</h5>
			<p>Sound-Ocean provides a unique interactive music discovery experience by allowing the user to first choose a genre and then "swim through the ocean of sound," discovering songs streaming from the SoundCloud api. The user can save songs to a playlist and compete with friends for the most songs discovered. Three people worked on the project. I contributed the interactive visual elements as well as integrating with the SoundCloud API, the bulk of which was completed in one week.</p>
		</div>
		<div>
			<h3 class="project-heading"><a class="contact-link" href="http://movemywords.com" target="_blank">Move My Words</a>:</h3>
			<h5 class="project-techs">Technologies: PostgresQL, Ruby on Rails, jQuery</h5>
			<p>Crowd-Sourced music creation platform for educational songs. Through highly-relational postgres database models, users can edit and create their own original lyrics for educational songs about any topic. I created a version control system from the ground up so that users could save their own versions of songs and vote on the best to arrive at the definitive version.</p>
		</div>
		<div>
			<h3 class="project-heading"><a class="contact-link" href="http://abcrowd-composers.herokuapp.com" target="_blank">ABCrowd Composers</a>:</h3>
			<h5 class="project-techs">Technologies: D3.js, Ruby on Rails, jQuery</h5>
			<p>We've all been moved by words. Why not move them back? Move My Words is an interactive blogging platform that allows a user to enter a micropost and play interactive games with the text through the use of D3 text visualization.</p>
		</div>

	</div>
</div>