<div class="page">
	<div class="box">
		<nav>
			<ul>
				<li>[<a class="nav-link" href="">Home</a>]</li>
				<li>[<a class="nav-link" href="#about">About</a>]</li>
				<li>[<a class="nav-link" href="#projects">Projects</a>]</li>
				<li>[<a class="nav-link" href="#experimental">Experimental</a>]</li>
				<li>[<a class="nav-link" href="#blog">Blog</a>]</li>
			</ul>
		</nav>

		<h1>Blog</h1>
		<p>I don't really have a blog, but I made an interactive blog site where you can play games with the blog content. <a href="http://movemywords.com/" target="_blank">Check it out</a>!</p>
		<img class="me-pic" src="images/me-silly.jpg" alt="">
	</div>
</div>