<div class="page">
	<div class="box">
		<h1>Blog</h1>
		<p>I'm don't really have a blog, but I made an interactive blog site where you can play games with the blog content. <a href="http://movemywords.com/" target="_blank">Check it out</a>!</p>
		<img src="images/me-silly.jpg" alt="">
	</div>
</div>