<ul id="scene" class="scene">
	<li class="layer" id="layer1" data-depth="1.00"></li>
	<li class="layer" id="layer2" data-depth="0.80"></li>
	<li class="layer" id="layer3" data-depth="0.60"></li>
	<li class="layer" id="layer4" data-depth="0.40"></li>
	<li class="layer" id="layer5" data-depth="0.20"></li>
	<li class="layer" id="layer6" data-depth="0.00"></li>
</ul>